<div>
    <button [routerLink]="['/home']">Home</button>
</div>


<div class="divCss">
    <table>
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    Row Number
                </th>
                <th *ngFor="let header of headers;let i= index">

                    {{header}}

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of data;let j=index">
                <td><button (click)="onRowSubmit(rowData)">submit</button></td>
                <td>{{ pageIndex > 1 ? ((j+1)+(pageSize*(pageIndex-1))): (j+1)}}</td>
                <td *ngFor="let header of headers"> {{rowData[header]}} </td>
            </tr>
        </tbody>
    </table>
</div>