<div>
    <label for="pSize">Choose page size:</label>
    <select id="pSize" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChanged($event)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<div class="divCss">
    <table>
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    Row Number
                </th>
                <th *ngFor="let header of headers;let i= index">

                    {{header}}

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of data;let j=index">
                <td><button (click)="onRowSubmit(rowData)">submit</button></td>
                <td>{{ pageIndex > 1 ? ((j+1)+(pageSize*(pageIndex-1))): (j+1)}}</td>
                <td *ngFor="let header of headers"> {{rowData[header]}} </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <span>Showing {{ totalRecords == 0 ? 0 : ((pageIndex-1)*pageSize)+ 1}} to {{(pageSize * ((pageIndex-1) + 1))
        < totalRecords ? (pageSize * ((pageIndex-1) + 1)) : totalRecords}} of {{totalRecords}} entries</span>

    <div class="tableFoot">
        <button (click)="onPaginatorChange(1)" [disabled]="pageIndex == 1">
            prev
        </button>
        <span *ngFor="let pageN of paginateArr;let i=index" class="paginatorStyles">
            <button [disabled]="pageIndex == pageN" (click)="onPageChange(pageN,pageSize)">
                {{pageN}}
            </button>
        </span>
        <button (click)="onPaginatorChange(2)" [disabled]="pageIndex == paginateArr.length">
            next
        </button>
    </div>
</div>