
<div style="margin-bottom:20px">
    <button [routerLink]="['/unlScroll']">
      Click to view unlimited scroll table
    </button>
  </div>
  
<app-datatable [headers]="headers" [data]="data" [totalRecords]="totalRecords" (pageSizeEvent)="pageSizeEvent($event)"
  (paginationChangeEvent)="paginationChangeEvent($event)" (onSubmition)="onSubmition($event)">
  </app-datatable>